/* Imports fonts */ 

@font-face{
    font-family: GLight;
    src: url(./Fonts/GothamPro-Light.woff2);
    font-display: swap;
}

@font-face{
    font-family: GReg;
    src: url(./Fonts/GothamPro-Reg.woff2);
    font-display: swap;
}

@font-face{
    font-family: GMed;
    src: url(./Fonts/GothamPro-Medium.woff2);
    font-display: swap;
}

@font-face{
    font-family: GBold;
    src: url(./Fonts/GothamPro-Bold.woff2);
    font-display: swap;
}

/* Imports color */

$black: #292929;
$gray: #B8B8B8;
$red: #FA7268;
$bgGray: #2C2C31;
$white: #FFFFFF;
$boxGray:  #333339;
$stroke: #4F4F4F;

/* My code */

* {
    margin: 0;
    padding: 0;
    
}

/* Header */
.header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__inner{
    width: 95%;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    
}

.header__logo{
    text-decoration: none;

}

.header__logo p{
    font-size: 25px;
    color: $black;
    font-family: GMed;
}

.header__burgermenu img{
    width: 25px;
    height: 20px;
}

/* Contents */
.contents{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    
}

.contents__inner{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contents__text_first{
    font-family: GLight;
    font-size: 20px;
    color: $gray;
    
}

.contents__text_second{
    font-family: GMed;
    font-size: 60px;
    color: $black;
    margin: 15px;
}

.contents__text_second span{
    color: $red;
}

.contents__text_third{
    font-family: GReg;
    font-size: 25px;
    display: flex;
    width: 900px;
    
}

/* Skills */

.skills{
    height: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bgGray;
    margin-top: 300px;    

}

.skills__inner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.our-services{
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
    margin-top: 50px;
    width: 500px;
}

.our-services h1{
    font-size: 50px;
    font-family: GMed;
    color: $white;
}

.our-services p {
    font-family: GLight;
    font-size: 20px;
    color: $white;
}

// skill box

.skill-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1100px;
    height: 400px;
    gap: 25px;
    padding: 80px;
}

.box-first{
    width: 350px;
    height: 400px;
    background-color:$boxGray;
    border-radius: 12px;
}

.box-logo{
    text-align: center;
    text-shadow: 
    -1px 0 0 $stroke, 
    0 -1px 0 $stroke,
    1px 0 0 $stroke,
    0 1px 0 $stroke; 
    font-size: 150px;
    color: $boxGray;
    margin: 0;
    font-family: GReg;
}

.box-design{
    font-size: 30px;
    line-height: 35px;
    color: $white;
    font-family: GMed;
    padding-left: 25px;
    margin-top: 10px;
}

.skill-box span{
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 20px;
    font-family: GLight;
    color: $red;
    padding-left: 25px;   
}

/* About layout */

.about{
    width: 100%;
    display: flex;
    margin-top: 150px;
    justify-content: center;
    align-items: center;
}

.about__inner{
    display: flex;
}

.about-block-help{
    width: 392px;
    height: 120px;
    margin-right: 100px;
}

.about-block-help h1 {
    font-family: GMed;
    font-size: 50px;
    color: $black;
}

.about-block-help p {
    font-family: GLight;
    font-size: 20px;
    margin-top: 20px;
}

.about-block-design{
    width: 112px;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
}


.about-block-design span{
    font-size: 21px;
    font-family: GReg;
    color: $red;
    margin-left: 100px;
}

.about-block-design p{
    font-family: GReg;
    font-size: 21px;
    color: $black;
    margin-left: 100px;
    
    padding-top: 10px;
}

.about-block-development{
    width: 112px;
    display: flex;
    flex-direction: column;
    margin-right: 180px;

}

.about-block-development span{
    font-size: 21px;
    font-family: GReg;
    color: $red;
    margin-left: 149px;

}

.about-block-development p{
    font-family: GReg;
    font-size: 21px;
    color: $black;
    padding: 0;
    margin: 0;
    padding-top: 10px;
    margin-left: 149px;

}

/* Footer */

.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bgGray;
    align-items: center;

    margin-top: 250px;
}

.footer__inner{
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.footer-logo h1 {
    padding: 15px;
    font-size: 20px;
    color: $white;
    font-family: GMed;
}

.footer-icons img{
    width: 30px;
    height: 30px;
    padding: 10px;
    padding-left: 40px;
}

/* Menu layout */

.menu{
    width: 100%;
    height: 721px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bgGray;
}

// .menu::after{
//     html{
//         overflow: hidden;
//     }
//     div{
//         height: 721px;
//     }
// }

.menu__inner{
    width: 95%;
    display: flex;
}

.about-bar{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 120px;
    gap: 30px;
}

.about-bar img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    display: flex;
    
}

.about-cont{
    font-size: 30px;
    font-family: GLight;
    color: $red;
    margin-top: 40px;
}

.about-gmail{
    font-size: 25px;
    font-family: GReg;
    color: $white;
}

.about-number{
    font-size: 25px;
    font-family: GReg;
    color: $white;
}

.about-bar span{
    font-size: 30px;
    font-family: GLight;
    color: $red;
    margin-top: 20px;
}

.about-img{
    display: flex;
    gap: 40px;
}

.about-img img{
    width: 30px;
    height: 30px;
}

// sidebar 

.side-bar{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 50px;
    padding-left: 550px;
    text-align: right;
}

.side-bar span{
    font-family: GBold;
    font-size: 70px;
    color: $red;
    text-decoration: none;
}

.side-bar span:hover{
    color: $white;
    cursor: pointer;
}

.side-bar p {
    font-family: GBold;
    font-size: 70px;
    color: $white;
    
}

.side-bar p:hover{
    color: $red;
    cursor: pointer;
}

.close img{
    width: 20px;
    height: 20px;
    padding-left: 150px;
}

// Modal window

.modal-window{
    width: 100%;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    filter: blur(5px);
}

.general-modal{
    width: 500px;
    height: 300px;
    margin-left: 500px;
    border-radius: 10px;
    background-color: $bgGray;
    outline: none;
}

.h-modal{
    text-align: center;
    font-size: 30px;
    font-family: GBold;
    color: $red;
    padding-top: 30px;
}

.b-modal{
    padding: 20px;
    text-align: center;
    font-size: 20px;
    font-family: GMed;
    color: $white;
}