/* Imports fonts */ 

@font-face{
    font-family: GLight;
    src: url(./Fonts/GothamPro-Light.woff2);
    font-display: swap;
}

@font-face{
    font-family: GReg;
    src: url(./Fonts/GothamPro-Reg.woff2);
    font-display: swap;
}

@font-face{
    font-family: GMed;
    src: url(./Fonts/GothamPro-Medium.woff2);
    font-display: swap;
}

@font-face{
    font-family: GBold;
    src: url(./Fonts/GothamPro-Bold.woff2);
    font-display: swap;
}

/* Imports color */

$black: #292929;
$gray: #B8B8B8;
$red: #FA7268;
$bgGray: #2C2C31;
$white: #FFFFFF;
$boxGray:  #333339;
/* My code */


/* Header */
.header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__inner{
    width: 95%;
    display: flex;
    justify-content: space-between;
    
}

.header__logo{
    text-decoration: none;

}

.header__logo p{
    font-size: 25px;
    color: $black;
    font-family: GMed;
}



.header__burgermenu img{
    width: 25px;
    height: 20px;
    padding-top: 20px;
}

/* Contents */
.contents{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 110px;
    
}

.contents__inner{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contents__text_first{
    font-family: GLight;
    font-size: 20px;
    color: $gray;
    
}

.contents__text_second{
    font-family: GMed;
    font-size: 60px;
    color: $black;
    margin: 15px;
}

.contents__text_second span{
    color: $red;
}

.contents__text_third{
    font-family: GReg;
    font-size: 25px;
    display: flex;
    width: 900px;
    
}

/* Skills */

.skills{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
    background-color: $bgGray;
}

.skills__inner{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-services{
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
    
    margin-top: 150px;
    width: 500px;
}

.our-services h1{
    font-size: 50px;
    font-family: GMed;
    color: $white;
}

.our-services p {
    font-family: GLight;
    font-size: 20px;
    color: $white;
}

// skill box

